numpy
pandas
seaborn
matplotlib
scipy
Pillow

# ML
scikit-learn
imbalanced-learn

# Notebook
ipykernel

# NN Libraries
torch
torchvision
torchaudio
torchmetrics
torchinfo
tensorboard
torchsummary

keras
tensorflow

# OpenCV
opencv-contrib-python
